---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Summary from "../components/Summary.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>

    <header>
    <Navbar />
<Hero />
</header>

<main class="flex flex-col items-center justify-center">
<Summary />
<Skills />
<Experience />
<Projects />
</main>
<Footer />
</div>

</MainLayout>
