---
import Image from "astro/components/Image.astro";
---

<section id="experience" class="flex flex-col mb-8 px-4 w-full">
  <h2 class="text-6xl font-bold mb-8 text-center md:text-left text-[#622aff]">
    Experience
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-x-4">
    <div class="flex flex-col md:items-start items-center gap-4 card">
      <div class="font-bold">
        <ul>
          <li class="relative flex gap-6 pb-5 items-baseline">
            <div
              class="before:absolute before:left-[5.5px] before:h-full before:w-[1px] before:bg-[#622aff]"
            >
              <svg
                stroke="currentColor"
                fill="#622aff"
                width="15"
                height="15"
                stroke-width="0"
                viewBox="0 0 512 512"
                height="200px"
                width="200px"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
                ></path></svg
              >
            </div>

            <div>
              <p class="mb-2">May 2024 · Sep 2024</p>
              <p>Software Engineering trainee at</p>
              <p>Information Technology Institute - ITI</p>
            </div>
          </li>

          <li class="relative flex gap-6 pb-5 items-baseline">
            <div
              class="before:absolute before:left-[5.5px] before:h-full before:w-[1px] before:bg-[#622aff]"
            >
              <svg
                stroke="currentColor"
                fill="#622aff"
                width="15"
                height="15"
                stroke-width="0"
                viewBox="0 0 512 512"
                height="200px"
                width="200px"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
                ></path></svg
              >
            </div>

            <div>
              <p class="mb-2">Aug 2024 · Present</p>
              <p>Front-End Developer at</p>
              <p>Freelancing</p>
            </div>
          </li>

          <li class="relative flex gap-6 pb-5 items-baseline">
            <div class="">
              <svg
                stroke="currentColor"
                fill="#622aff"
                width="15"
                height="15"
                stroke-width="0"
                viewBox="0 0 512 512"
                height="200px"
                width="200px"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
                ></path></svg
              >
            </div>

            <div>
              <p class="mb-2">Soon · Soon</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card flex items-center">
      <Image src="/images/experience.svg" width="636" height="300" alt="" />
    </div>
  </div>
</section>
