<section id="experience" class=" flex flex-col mb-8 px-4 ">

    <h2 class="text-6xl font-bold mb-8 text-center md:text-left text-[#2a5cff]">Experience</h2>
    

<div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-x-4 ">




 

<div class="flex flex-col gap-4 card ">

  
  
<div class="font-bold">
  <ul>
    <li class="relative flex gap-6 pb-5 items-baseline ">
      <div class="before:absolute before:left-[5.5px] before:h-full before:w-[1px] before:bg-[#2a5cff]">

        <svg stroke="currentColor" fill="#2a5cff" width="15" height="15" stroke-width="0" viewBox="0 0 512 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>

      </div>


      <div>
        <p class="mb-2">Jan 2023 · Aug 2023</p>
        <p>Front-End Developer</p>
        <p>at Freelancing</p>
      </div>

    </li>
    <li class="relative flex gap-6 pb-5 items-baseline ">
      <div class="">

        <svg stroke="currentColor" fill="#2a5cff" width="15" height="15" stroke-width="0" viewBox="0 0 512 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>

      </div>


      <div>
        <p class="mb-2">Jan 2023 · Aug 2023</p>
        <p>Front-End Developer</p>
        <p>at Freelancing</p>
      </div>

    </li>
    

  </ul>
</div>





  

</div>


      <div class="card flex items-center">       
        <img src="images/experience.svg" alt="">
    </div>








    </div>


</section>