---
import Image from "astro/components/Image.astro";
---

<section class="w-full flex justify-center overflow-hidden">
  <Image
    src="/images/footer.svg"
    width="420"
    height="200"
    class="-mb-12"
    alt=""
  />
</section>
