<nav
  class="w-full bg-[rgba(29,29,31,0.6)] fixed top-0 backdrop-blur-[8px] backdrop-saturate-[1.8] z-10"
>
  <ul
    class="font-bold flex gap-7 md:gap-10 items-center justify-center text-[#ffffffcc] py-3 text-[0.6rem] md:text-xs"
  >
    <li><a href="#summary" class="hover:text-[#ffffff]">// .summary( )</a></li>
    <li><a href="#skills" class="hover:text-[#ffffff]">// .skills( )</a></li>
    <li>
      <a href="#experience" class="hover:text-[#ffffff]">// .experience( )</a>
    </li>
    <li>
      <a href="#projects" class="hover:text-[#ffffff]">// .projects( )</a>
    </li>
  </ul>
</nav>
