<section id="projects" class=" flex flex-col mb-8 px-4 w-full ">

    <h2 class="text-6xl font-bold mb-8 text-center md:text-left text-[#ff2a2a]">Projects</h2>
    

<div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-x-4 ">


    <div class="card ">       
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
                <div class="p-2 rounded-xl bg-[#ff2a2a] flex items-center justify-end w-fit">
                    <img src="images/healthcare.svg" width="20" alt="">
                </div>
                <h4 class="font-bold text-4xl text-[#ff2a2a]">Curify</h4>
            </div>
      <div>
          <p class="font-bold text-[0.55rem]">FULL-STACK</p>
     <div class="flex items-center justify-between">
         <img src="images/angular-logo.svg" width="18" alt="">
         <img src="images/dotnet-logo.svg" width="25" alt="">
     </div>
      </div>
     </div>
        <p class="mb-8">Healthcare Web Application</p>
        <p class="font-bold text-lg text-[#ff2a2a]">Features & Technologiese</p>
        <p class="text-center md:text-left font-bold text-lg">
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            ASP.NET Core Web API</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Angular and Bootstrap</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Covering all CRUD Operations</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Authuentecation and Authorization</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Dynamic Dashboard (Users and Admins)</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Data Transfer Objects (DTOs)</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Repository Pattern</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Unit Of Work</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            Extension Methods (Mapping and Hashing)</br>
            <span class="text-[#ff2a2a] font-bold">✦ </span>
            JSON Web Tokens (JWT)
        </p>
   

      </div> 



<div class="flex flex-col gap-4">


    <div class="card ">       
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
                <div class="p-2 rounded-xl bg-[#ff2a2a] flex items-center justify-end w-fit">
                    <img src="images/msg.svg" width="20" alt="">
                </div>
                <h4 class="font-bold text-4xl text-[#ff2a2a]">MSG</h4>
            </div>
      <div>
          <p class="font-bold text-[0.55rem]">FULL-STACK</p>
          <div class="flex items-center justify-between">
         <img src="images/angular-logo.svg" width="18" alt="">
         <img src="images/dotnet-logo.svg" width="25" alt="">
            </div>
      </div>
     </div>
        <p class="mb-8">Real-time Chat Web Application</p>
        <p class="font-bold text-lg text-[#ff2a2a]">Features & Technologiese</p>
        <p class="text-center md:text-left">ASP.NET Core Web API, Angular and Bootstrap</br>Joining with user name and room name</br>Private rooms available</br>Connected users counter</p>
      </div> 


      <div class="card ">       
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
                <div class="p-2 rounded-xl bg-[#ff2a2a] flex items-center justify-end w-fit">
                    <img src="images/nike.svg" width="20" alt="">
                </div>
                <h4 class="font-bold text-4xl text-[#ff2a2a]">Nike Store</h4>
            </div>
      <div>
          <p class="font-bold text-[0.55rem]">FRONT-END</p>
     <div class="flex items-center justify-between">
      <img src="images/next-logo.svg" width="20" alt="">
      <img src="images/redux.svg" width="19" alt="">
     </div>
      </div>
     </div>
        <p class="mb-8">E-Commerce Web Application</p>
        <p class="font-bold text-lg text-[#ff2a2a]">Features & Technologiese</p>
        <p class="text-center md:text-left">ASP.NET Core Web API, Angular and Bootstrap</br>Joining with user name and room name</br>Private rooms available</br>Connected users counter</p>
   
      </div> 




    </div>


</section>