<section id="skills" class=" flex flex-col mb-8 px-4 ">

    <h2 class="text-6xl font-bold mb-8 text-center md:text-left text-[#0c9d46]">Skills</h2>
    

<div class="grid grid-cols-1 md:grid-cols-3 gap-y-4 md:gap-x-4 ">


    <div class="card text-center md:text-left">       
      <h3 class="text-3xl font-bold text-[#0c9d46]">Computer Science</h3>
<p class="text-2xl font-bold">Fundamentals and Basics</p>
<div class="flex flex-col items-center justify-center">
  <img src="images/cs.svg" class="my-8" alt="">
  <ul class="flex flex-col gap-2 text-center items-center">
      <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">C# · Object-Oriented Programming</li>
      <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Data Structures · Algorithms</li>
      <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Databases · Problem Solving</li>
  </ul>
</div>
    </div> 




    <div class="card text-center md:text-left">       
      <h3 class="text-3xl font-bold text-[#0c9d46]">Technologies</h3>
<p class="text-2xl font-bold">Both sides Front-End</br>and Back-End</p>
<div class="flex flex-col items-center justify-center">
  <div class="grid grid-cols-2 my-8">
    <img src="images/fe.svg" class=""  alt="">
    <img src="images/be.svg" class=""  alt="">
  </div>  

  <ul class="flex flex-col gap-2 text-center items-center">
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Angular · ASP.NET Core</li>
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">HTML · CSS · JavaScript/TypeScript</li>
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">SASS · Bootstrap/TailwindCSS</li>
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">MS SQL Server · EF Core · LINQ</li>
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Git/GitHub</li>
</ul>





</div>
    </div> 


    <div class="card text-center md:text-left">       
      <h3 class="text-3xl font-bold text-[#0c9d46]">Soft Skills</h3>
<p class="text-2xl font-bold">The superpowers of the real world</p>
<div class="flex flex-col items-center justify-center">
  <img src="images/softskills.svg" class="my-8"  alt="">
  <ul class="flex flex-col gap-2 text-center items-center ">
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Problem Solving & Critical thinking</li>
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Communication & Collaboration in teams</li>
    <li class="skill bg-gradient-to-r from-[#0c9d46] to-[#0c9d5c]">Adaptable & quick to learn new techs</li>
  </ul>
</div>
    </div> 







    </div>


</section>